.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set to 100% of the viewport height */
  color: red;
}

/* Add any additional styling as needed */
h1 {
  font-size: 2rem; /* Adjust font size */
  margin-bottom: 20px; /* Add margin as needed */
}

mat-sidenav {
  background-color: black;
  color: white;
  width: 230px;
  height: 100%;
}

mat-sidenav-content {
  height: 100vh;
  background-color: darkolivegreen;
}
