<section>
    <mat-card *ngFor="let post of posts | async" class="card">
        <a [routerLink]="['/post', post.id]">
            <mat-card>
                <div class="content">
                    <h2>{{ post.title }}</h2>
                    <p>{{post.content}}</p>
                </div>
                <img *ngIf="post.image" src="{{ post.image }}" alt="{{ post.title }}">
                <p><small>Posted by {{ post.author }} &bull; On {{ post.published }}</small></p>
            </mat-card>
        </a>
    </mat-card>
</section>
