h1 {
  font-size: 2rem; /* Adjust font size */
  margin-bottom: 20px; /* Add margin as needed */
}

.sidebar {
  background-color: black;
  color: white;
  width: 230px;
  height: 100%;
}

mat-sidenav-content {
  height: 100vh;
  background-color: black;
}
.menu-icon {
  position: fixed;
  margin-top: 10px;
  margin-left: 2px;
}

mat-icon {
  color: white;
  transform: scale(2);
}

.timeline {
  margin-top: 20px;
}
