<div class="home-page">
  <mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidebar mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidebar-content">
        <div class="toolbar">
          <mat-toolbar>
            <div class="box">
              <mat-icon>search</mat-icon>
            </div>
          </mat-toolbar>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="main">
    <h1>Welcome, {{ user?.fullName }}!</h1>
    <p-button label="Sign Out" (onClick)="logOut()"></p-button>
  </div>
</div>
