<div class="detail-page">
    <mat-sidenav-container class="sidebar-container">
        <mat-sidenav #sidebar mode="side" opened class="sidebar">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-icon (click)="sidebar.toggle()" class="burger">menu</mat-icon>
            <section>
                <mat-card class="card">
                    <mat-card *ngIf="post">
                        <div class="content">
                            <h2>{{ post.title }}</h2>
                            <p>{{post.content}}</p>
                        </div>
                        <img *ngIf="post.image" src="{{ post.image }}" alt="{{ post.title }}">
                        <p><small>Posted by {{ post.author }} &bull; On {{ post.published }} This isn't working </small></p>
                        <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
                            <button mat-icon-button (click)="delete()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-card>
              <div class="add-comment">
                <h3>Add a Comment</h3>
                <form (submit)="addComment()" class="comment-form">
                  <mat-form-field appearance="fill" class="comment-input">
                    <textarea matInput [(ngModel)]="newComment" name="newComment" placeholder="Write your comment..."></textarea>
                  </mat-form-field>
                  <button type="submit" mat-raised-button color="primary" [disabled]="!newComment">Post Comment</button>
                </form>
              </div>
              <div class="comments">
                <h3>Comments</h3>
                  <mat-card *ngFor="let comment of comments" class="comment">
                    <div class="comment-content">
                      <small style="color: #1da1f2">By {{ comment.author }}</small>
                      <p style="font-size: 15px">{{ comment.content }}</p>
                    </div>
                  </mat-card>
              </div>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
