.sidebar {
  background-color: black;
  color: white;
  width: 230px;
  height: 100%;
}

mat-sidenav-content {
  height: 100vh;
  background-color: black;
}

mat-icon {
  color: white;
}

.burger {
  transform: scale(2);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media (max-width: 600px) {
    gap: 8px;
  }
}

mat-card {
  max-width: 700px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: black;
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    max-width: 300px;
  }
}

.card {
  /* Add the following lines to set the border */
  border: 2px solid #fff; /* Set the border width and color */
  box-sizing: border-box; /* Ensure that the border size is included in the width */
}


.content {
  flex-grow: 1;
}

img {
  width: 100%;
  border-radius: 8px;
  margin-top: 12px; /* Adjust the margin as needed */
}

h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

p {
  color: white;
  font-size: 0.9rem;
}

.comments {
  color: white;
  max-width: 600px;
  width: 100%;

  @media (max-width: 600px) {
    max-width: 200px;
  }
}

.comment {
  border: 2px solid #fff;
  box-sizing: border-box;
  margin-bottom: 15px;
  word-wrap: break-word; /* Add this property to handle long words */
}

.add-comment {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f8fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    max-width: 200px;
  }

  .comment-form {
    display: flex;
    flex-direction: column; /* Adjusted to column for better mobile layout */
    align-items: center;

    .comment-input {
      width: 100%;
      margin-bottom: 10px;

      textarea {
        resize: none;
        width: 100%;
      }
    }

    button {
      background-color: #1da1f2;
    }
  }
}

img.profile-picture {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it round */
  margin-right: 10px; /* Add some spacing between the picture and text */
}

p small {
  display: flex;
  align-items: center; /* Align the text and picture vertically */
}

.comment-content {
  img.profile-picture {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 50%; /* Make it round */
    margin-right: 8px;
  }
}
