.top {
  display: flex;
  align-items: start;
  h2 {
    margin-top: 30px;
  }
}

.satellite-image {
  max-width: 50%; /* Make the image responsive */
  max-height: 50%; /* Make the image responsive */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  filter: grayscale(100%) invert(100%);
  object-fit: contain; /* Adjust to cover the container without stretching */
}

.user {
  text-align: center;
  font-weight: 800;
  margin-bottom: 50px;
  .profile-picture {
    margin-top: 16px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .name {
  }
  .mail {
    margin-top: -16px;
  }
}

button {
  background-color: black;
}

.menu-items {
  .menu-button {
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px 20px; /* Adjust padding for better responsiveness */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Add a pointer cursor on hover for better usability */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
    border: none;
  }
  .menu-icons {
    max-width: 20%; /* Make the image responsive */
    max-height: 20%; /* Make the image responsive */
    filter: grayscale(100%) invert(100%);
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Adjust to cover the container without stretching */
  }
  .menu-button span {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    position: relative;
    top: 5px;
  }
  .menu-button:hover {
    background-color: rgba(173, 216, 230, 0.5); /* Set the hover background color */

  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

